@page "/"

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<Card>

    <CardContent>
        <AuthorizeView>
            <Authorized>
                <p>You are logged in!</p>
                <Button Text="Logout" OnClick="HandleLogout" />
            </Authorized>
            <NotAuthorized>
                <p>You are not logged in.</p>
            </NotAuthorized>
        </AuthorizeView>
    </CardContent>
</Card>

@code {
    private async void HandleLogout()
    {
        var logoutSuccess = await JSRuntime.InvokeAsync<bool>("logout");
        if (logoutSuccess)
        {
            NavigationManager.NavigateTo("/login", true);
        }
        else
        {
            // Handle logout failure if necessary
        }
    }
}