@page "/register"
@attribute [AllowAnonymous]

@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager

<div class="flex flex-row justify-center">
    <Card Width="420px">
        <CardHeader>
            <div class="flex flex-col justify-center items-center text-center gap-2">
                <Avatar Name="A" />
                <h3 class="-mt-4 text-xl">Create Account</h3>
                <small class="-mt-4 text-sm text-muted-foreground">Sign up to get started</small>
            </div>
        </CardHeader>
        <CardContent>
            <EditForm Model="registerUserModel" OnValidSubmit="HandleRegistration">
                <DataAnnotationsValidator />
                <div class="flex flex-col">
                    <div class="w-full">
                        <Input TItem="string"
                               Label="Email"
                               Type="text"
                               Placeholder="name@example.com"
                               @bind-Value="registerUserModel.Email" />
                        <ValidationMessage For="@(() => registerUserModel.Email)" class="text-xs text-red-500 mt-2" />
                    </div>

                    <div class="w-full">
                        <Input TItem="string"
                               Label="Password"
                               Type="password"
                               Placeholder="••••••••••"
                               @bind-Value="registerUserModel.Password" />
                        <ValidationMessage For="@(() => registerUserModel.Password)" class="text-xs text-red-500 mt-2" />
                    </div>

                    <Button Action="ButtonAction.Submit"
                            Type="@(isLoading ? ButtonType.Loading : ButtonType.Primary)"
                            Class="flex justify-center"
                            Width="100%"
                            Text="Sign up"
                            Disabled="isLoading" />
                </div>
            </EditForm>

            <div class="continue-with relative w-full text-center text-xs mt-4">
                <span class="muted-color block z-10">OR CONTINUE WITH</span>
            </div>

            <div class="w-full flex justify-between gap-4">
                <div class="w-1/2">
                    <Button Class="flex flex-col items-center justify-center"
                            Type="ButtonType.Outline"
                            Width="100%" Style="background-color: var(--color-sky-700); color: #fff"
                            OnClick="HandleGitHubLogin">
                        Facebook
                    </Button>
                </div>
                <div class="w-1/2">
                    <Button Type="ButtonType.Outline"
                            Class="flex flex-col items-center justify-center"
                            Width="100%" Style="background-color: var(--color-red-700); color: #fff"
                            OnClick="HandleGoogleLogin">
                        Google
                    </Button>
                </div>
            </div>
        </CardContent>
        <CardFooter>
            <div class="w-full flex flex-col items-center p-4 pt-0">
                <small class="block ta-center muted-color">
                    Already have an account?
                    <a href="/login" class="no-underline hover:underline text-[var(--primary-fg)]">Sign in</a>
                </small>
            </div>
        </CardFooter>
    </Card>
</div>

@code {
    private RegisterUserModel registerUserModel = new();
    private string errorMessage = string.Empty;
    private bool isLoading = false;

    private async Task HandleRegistration()
    {
        isLoading = true;
        errorMessage = string.Empty;

        var user = new ApplicationUser
            {
                UserName = registerUserModel.Email,
                Email = registerUserModel.Email
            };

        var result = await UserManager.CreateAsync(user, registerUserModel.Password);
        if (!result.Succeeded)
        {
            errorMessage = string.Join(", ", result.Errors.Select(e => e.Description));
        }

        isLoading = false;
    }

    private void HandleGitHubLogin() { }
    private void HandleGoogleLogin() { }
}